/*/
!/nnemb
!/demo
demo/*
!/demo/gpu
/demo/gpu/*
!/demo/gpu/train-nn.py


!.gitignore
!LICENSE
!README.md

# bash scirpts, just in case I forgot to delete
**/*.sh

# OS files
**/.DS_Store

# python cache
**/__pycache__
